<%= form_with model: post do |f| %>
  <%= f.hidden_field :park_id, value: park.id %>

  <div class="mb-2">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :body, "本文" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :image, "画像" %>
    <%= f.file_field :image, accept: "image/*", class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :rating, "評価" %>
    <%=render 'public/posts/rating', post: @post %>
  </div>

  <div class="my-4">
    <%= f.submit submit, class: "btn btn-primary btn-block" %>
  </div>
<% end %>

