<div class="row">
   <% posts.each do |post| %>
   <div class="col-md-4 col-sm-6">
    <div class="card mb-4 shadow-sm">
      <%= link_to post_path(post) do %>
        <%= image_tag post.get_image, class: "card-img-top", alt: post.title, style: "object-fit:cover; height:250px;" %>
      <% end %>

     <div class="card-body">
       <h5 class="card-tetle"><%= post.title %></h5>
       <p class="card-text"><%= post.body %></p>
       <p class="card-text">
       <small class="text-muted">
         <%= link_to post.park.park_name, park_path(post.park), class: "fw-bold" %> |
         <%= link_to post.user.name, user_path(post.user), class: "fw-bold" %></small><br>
         <%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
     </div>
    </div>
    </div>
   <% end %>
</div>