<div class="row">
  <div class="col-md-4">
    <%=render 'public/parks/park_info', park: @park %>
  </div>

  <div class="col-md-8 border-left d-none d-md-block pl-md-4">
    <div class="d-flex align-items-center mb-2">
      <h2 class="mb-0">投稿詳細</h2>
       <% if @post.user == current_user %>
        <div class="ml-auto">
          <%= link_to "編集", edit_post_path, class: "btn btn-outline-primary btn-sm" %> 
          <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' },
              class: "btn btn-outline-danger btn-sm" %>
        </div>
      <% end %>
    </div>
      <div class="small text-muted mb-3 d-flex align-item-center">
        <%= image_tag @user.get_profile_image(50,50), class: "img-fluid rounded-circle mr-3" %>
        <%= link_to @post.user.name, user_path(@post.user), class: "fw-semibold textt-decoration-none" %>さん
        ・ <%= @post.created_at.strftime('%Y/%m/%d') %>
       </div>
    
       <div class="row no-gutters align-items-start mb-4">
         <div class="col-md-5 mb-3 mb-md-0 pr-md-3"> 
           <%= image_tag @post.get_image, class: "img-fluid rounded", style: "max-height: 360px; object-fit: cover; width: 100%;" %>
         </div>
         <div class="col-md-7"> 

           <%=render 'public/posts/rating', post: @post %>
        
           <h3 class="h4 mb-2"><%= @post.title %></h3>
             <div class="text-secondary"><%= simple_format(@post.body) %>
             <%= render 'public/posts/favorite', post: @post %></div>
         </div>
       </div>
  
         <%=render 'public/post_comments/comments', post: @post %>
      
        <div class="border rounded p-3 mt-3">
          <h5>コメントを投稿</h5>
            <%= form_with model: [@post,@post_comment] do |f| %>
              <%= f.text_area :comment, rows: 4, class: "form-control", placeholder: "コメントをここに" %>
                <div class="text-right mt-2">
                  <%= f.submit "送信する", class: "btn btn-primary" %>
                </div>
            <% end %>
        </div>
         <div class="text-center mt-3">
          <%= link_to "Back", park_path(@park), class: "font-weight-bold d-inline-block mt-3" %>
         </div>
  </div>
</div>

