<div class="row">
   <% parks.each do |park| %>
      <div class="col-md-4 col-sm-6">
     
     <div class="card mb-4 shadow-sm">
       <%= link_to park_path(park.id) do %>
         <%= image_tag park.get_image, class: "card-img-top", alt: park.park_name, style: "object-fit:cover; height:250px;" %>
       <% end %>
    
     <div class="card-body">
       <h4 class="card-title"><%= park.park_name %></h4>
       <p class="card-text"><%= park.introduction %></p>
       <p class="card-text"><strong><%= park.postal_code %> 
        <%= park.address %></p> 
     </div>    
     </div>
     </div>
   <% end %>
   </div>
  
