<h1>公園編集画面</h1>

<%= form_with model: @park do |f| %>

  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <h4>公園名</h4>
  <%= f.text_field :park_name %>

  <h4>説明</h4>
  <%= f.text_area :introduction %>

  <h4>郵便番号</h4>
  <%= f.text_field :postal_code %>

  <h4>住所</h4>
  <%= f.text_field :address %>

  <div class="field">
    <label>遊具（複数選択可）</label>
      <%= f.collection_check_boxes(:equipment_ids, Equipment.order(:id), :id, :name) do |b| %>
          <%= b.check_box %>
          <%= b.label %>
      <% end %>
  </div>

  <div class="field">
    <label>設備（複数選択可）</label>
      <%= f.collection_check_boxes(:facility_ids, Facility.order(:id), :id, :name) do |b| %>
          <%= b.check_box %>
          <%= b.label %>
      <% end %>
  </div>

  <div class="filed">
    <label>年齢層（複数選択可）</label>
      <%= f.collection_check_boxes(:age_group_ids, AgeGroup.order(:id), :id, :name) do |b| %>
          <%= b.check_box %>
          <%= b.label %>
      <% end %>
  </div>
  
  <%= f.submit '保存' %>

<% end %>

