 <div class="row">
   <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h2 class="text-center my-4">登録公園一覧</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Image</th>
              <th>公園詳細</th>
            </tr>
          </thead>
          <tbody>
            <% @parks.each do |park| %>
            <tr>
            <td>
             <%= link_to park_path(park.id) do %>
             <%= image_tag park.get_image, size: "300x300" %>
             <% end %></td>
            <td>
             <h4>公園名 : <%= park.park_name %></h4>
             <p>説明 : <%= park.introduction %></p>
             <p>郵便番号 : <%= park.postal_code %></p>
             <p>住所 : <%= park.address %></p>
             <p><strong>遊具 : </strong>
               <%= park.equipments.pluck(:name).join("、") %></p>
             <p><strong>遊具 : </strong>
               <%= park.facilities.pluck(:name).join("、") %></p>
             <p><strong>年齢層 : </strong>
               <%= park.age_groups.pluck(:name).join("、") %></p>
            </td>
            </tr>
            <% end %>
            
          </tbody>
</div>
</div>

