<h1>公園詳細</h1>

<div>
<% if @park.image.attached? %>
  <%= image_tag @park.image, size: "300x300" %>
<% else %>
  <%= image_tag 'no_image_square', size: "300x300" %>
<% end %>
  <p>公園名 : <%= @park.park_name %></p>
  <p>説明 : <%= @park.introduction %></p>
  <p>郵便番号 : <%= @park.postal_code %></p>
  <p>住所 : <%= @park.address %></p>
  <p><strong>遊具 : </strong>
   <%= @park.equipments.pluck(:name).join("、") %></p>
  <p><strong>設備 : </strong>
   <%= @park.facilities.pluck(:name).join("、") %></p>
  <p><strong>年齢層 : </strong>
   <%= @park.age_groups.pluck(:name).join("、") %></p>
  <p>投稿ユーザー画像 : </p>
  <p>ユーザーネーム : <%= @park.user.name %><p/>
  <p>投稿日 : <%= @park.created_at.strftime('%Y/%m/%d') %></p>

  <p><%= link_to "公園編集", edit_park_path %>

</div>



<h1>公園投稿フォーム</h1>
<%= form_with model: @post do |f| %>
  <%= f.hidden_field :park_id, value: params[:id] %>
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>本文</h4>
  <%= f.text_field :body %>
  <div>

  <div id="rate_<%= @post.id %>"></div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#rate_<%= @post.id %>');
  if (elem == null) return;
  
  elem.innerHTML = "";
  let opt = {  
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    scoreName: 'park[star]',
    readOnly: true,
  };
  raty(elem, opt);
});
</script>


  <%= f.submit '投稿' %>
<% end %>


<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <div>
    <%= image_tag post.get_image %>
    <p>投稿ユーザー画像</p>
    <p>タイトル : <%= post.title %></p>
    <p>本文 : <%= post.body %></p>
    <p>ユーザーネーム : <%= post.user.name %></p>
  </div>
<% end %>
