<h1>公園詳細</h1>

<div>
  <%= image_tag @park.get_image %>
  <p>公園名 : <%= @park.park_name %></p>
  <p>説明 : <%= @park.introduction %></p>
  <p>郵便番号 : <%= @park.postal_code %></p>
  <p>住所 : <%= @park.address %></p>
  <p>投稿ユーザー画像 : </p>
  <p>ユーザーネーム : <%= @park.user.name %><p/>
  <p>投稿日 : <%= @park.created_at.strftime('%Y/%m/%d') %></p>
</div>
