<h1>プロフィール詳細</h1>
<div>
<h3><%= @user.name %></h3>
<%= image_tag @user.get_profile_image(100,100) %>
<p><%= link_to "プロフィール画像", edit_user_path(@user) %></p>
</div>
</div>

<% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image %>
    <% end %>
    <p>投稿ユーザー画像：<%= image_tag post.user.get_profile_image(100,100) %></p>
    <p>タイトル：<%= post.title %></p>
    <p>本文：<%= post.body %></p>
    <p>ユーザーネーム：<%= post.user.name %></p>
  </div>
  <% end %>