<%= form_with model: @park do |f| %>

    <div class="mb-2">
      <%= f.label :park_name, '公園名' %>
      <%= f.text_field :park_name, class: 'form-control', placeholder: '例）はる公園' %>
    </div>
    <div class="mb-2">
      <%= f.label :introduction, '公園の説明' %>
      <%= f.text_area :introduction, class: 'form-control', placeholder: '特徴や設備、雰囲気など' %>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <%= f.label :postal_code, '郵便番号' %>
        <%= f.text_field :postal_code, class: 'form-control', placeholder: '123-4567' %>
      </div>
      <div class="col-md-8">
        <%= f.label :address, '住所' %>
        <%= f.text_field :address, class: 'form-control', placeholder: '東京都世田谷区～' %>
      </div>
    </div>

    <div class="mb-2 mt-3">
      <h5>遊具（複数選択可）</h5>
        <div class="row">
          <% Equipment.all.each do |eq| %>
            <div class="col-6 col-md-4">
              <div class="form-check">
                <%= f.check_box :equipment_ids,{ multiple: true, class: 'form-check-input' }, eq.id, nil %>
                <%= f.label :equipment_ids, eq.name, class: 'form-check-label mb-0 text-nowrap', title: eq.name %>
              </div>
            </div>
          <% end %>
        </div>
    </div>

    <div class="mb-2 mt-3">
      <h5>設備（複数選択可）</h5>
        <div class="row">
          <% Facility.all.each do |fc| %>
            <div class="col-6 col-md-4">
              <div class="form-check">
                <%= f.check_box :facility_ids,{ multiple: true, class: 'form-check-input' }, fc.id, nil %>
                <%= f.label :facility_ids, fc.name, class: 'foem-check-label' %>
              </div>
            </div>
        <% end %>
        </div>
    </div>

    <div class="mb-2 mt-3">
      <h5>年齢層（複数選択可）</h5>
      <div class="row">
        <% AgeGroup.all.each do |ag| %>
          <div class="col-6 col-md-4">
            <div class="form-check">
              <%= f.check_box :age_group_ids, { multiple: true, class: 'form-check-input' }, ag.id, nil %>
              <%= f.label :age_group_ids, ag.name, class: 'form-check-label' %>
            </div>
          </div>
        <% end %>
        </div>
      </div>  

      <div class="mb-2" >
        <%= f.label :image, '画像' %> 
        <%= f.file_field :image, accept: "image/*", class: "form-control" %>
      </div>

      <div class="my-4">
        <%= f.submit submit, class: "btn btn-primary btn-block" %>
      </div>
<% end %>