<div class="row">
  <div class="col-md-4">
    <%= render 'public/parks/delete_button', park: @park %>
    <%= render 'public/parks/park_info', park: @park %>
      <div class="mt-4">
        <%= render 'public/parks/new_post_form', post: @post, park: @park %>
      </div>
  </div>

  <div class="col-md-8 border-left d-none d-md-block pl-md-4">
    <h2 class="mb-3"><%= @park.park_name %>の投稿一覧</h2>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <% @posts.each do |post| %>
          <div class="d-flex align-items-center border-top mt-3 mb-2">
            <%= image_tag post.user.get_profile_image(40,40), class: "rounded-circle mr-2" %>
            <div class="mr-auto">  
              <%= link_to post.user.name, user_path(post.user), class: "textt-decoration-none" %>さん
              <small class="text-muted ml-2"> <%= l(post.created_at, format: :long) %></small>
            </div>
          </div>
          <div class="row no-gutters align-items-start">
            <div class="col-md-5 mb-3 mb-md-0 pr-md-3">
              <%= link_to post_path(post) do %>
                <%= image_tag post.get_image, class: "img-fluid rounded", style: "100X100" %>
              <% end %>
            </div>
            <div class="col-md-7"> 
              <%=render 'public/posts/rating_show', post: post %>            
              <h3 class="h5 mb-0"><%= post.title %></h3> 
              <p class="text-secondary"><%= post.body %></p>
            </div>
          </div>      
        <% end %>
      </li>
    </ul>
  </div>
</div>