<div class="row">
  <div class="col-md-4">
    <%= render 'public/parks/park_info', park: @park %>
    <%= render 'public/parks/new_post_form', post: @post, park: @park %>
  </div>

  <div class="col-md-8">
   <h1><%= @park.park_name %>  の投稿</h1>
   
   <ul class="list-unstyled">
    <% @posts.each do |post| %>
     <li class="d-flex align-items-start mb-4 border-bottom pb-3">
        <div class="flex-shrink-0" style="width: 150px;"> 
         <%= link_to post_path(post) do %>
           <%= image_tag post.get_image, class: "img-fluid rounded" %>
         <% end %>
        </div>
       
        <div class="flex-grow-1">
          <h5><%= post.title %></h5>
          <p class="mb-0 text-secondary"><%= post.body %></p>
          <p class="mb-1 text-muted" >投稿者 : <%= post.user.name %></p>
        </div>
      </li>
     <% end %>
    </ul>
  </div>
</div>