  <div class="d-flex align-items-center justify-content-between mb-2">
    <h5 class="mb-0">- コメント -</h5>
      <span class="badge badge-pill badge-secondary">
         <%= post.post_comments.count %>件</span>
   </div>

    <ul class="list-group list-group-flush mb-3">
      <% post.post_comments.each do |post_comment| %>
          <li class="list-group-item">
           <div class="media">
            <%= image_tag post_comment.user.get_profile_image(65,65), class: "img-fluid rounded-circle mr-3" %>
             <div class="media-body">
               <div class="d-flex justify-content-between align-items-center mb-1">
                <div class="font-weight-bold">
                  <%= post_comment.user.name %>
                </div>
                <small class="text-muted">
                  <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                </small>
               </div>
                <p><%= post_comment.comment %></p>
             
            
              <% if post_comment.user == current_user %>
                <div class="text-right"> 
                  <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-outline-danger btn-sm" %>
                </div>
              <% end %>
           </div>
           </div>
         </li>
      <% end %>
    </ul>