<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

    <% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

      <h1>投稿の編集</h1>
        <%= form_with model: @post do |f| %>
          <div class="form-group">
           <label for="photo">Photo</label><br>
           <%= f.file_field :image, accept: "image/*" %>
          </div>
          <div class="form-group">
           <label for="park_title">Title</label><br>
           <%= f.text_field :title %>
          </div>
          <div class="form-group">
            <label for="park_body">Body</label><br>
            <%= f.text_area :body %>
          </div>
          <div class="form-group">
             <%= f.submit 'Update post' %>
          </div>

      <% end %>
    </div>
  </div>
</div>