<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image, size: "300x300" %>
    <% end %> 
    <p>投稿ユーザー画像</p>
    <p>タイトル : <%= post.title %></p>
    <p>本文 : <%= post.body %></p>
    <p>ユーザーネーム : <%= post.user.name %></p>
  </div>
<% end %>

