<div>
<h1>投稿詳細</h1>
<%= image_tag @post.get_image %>
<P>タイトル : <%= @post.title %></p>
<p>本文 : <%= @post.body %></p>
<p>投稿ユーザー画像</p>
<p>ユーザーネーム : <%= @post.user.name %></p>
<p>投稿日 : <%= @post.created_at.strftime('%Y/%m/%d') %></p>

<p><%= link_to "投稿編集", edit_post_path %>
<p><%= link_to "投稿削除", post_path(@post), method: :deleate %>
</div>
