<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

    <% if @user.errors.any? %>
      <%= @user.errors.count %>件のエラーが発生しました
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>

    <h2 class="text-center my-4">ユーザーの編集</h2>
      <%= form_with model: @user do |f| %>
        <div class="mb-2">
          <%= f.label :user_name, '名前' %>
          <%= f.text_field :name, autofocus: true, id:"inputName", class: 'form-control' %>
        </div>
        <div class= "mb-2">
          <%= f.label :user_image, 'プロフィール画像' %>
          <%= f.file_field :profile_image, accept: "image/*", class: "form-control" %>
        </div>
        <div class="mb-2">
          <% if @user == current_user %>
            <%= f.submit "編集", class: "btn btn-primary btn-block" %>
            <%= link_to "退会", user_path(current_user), method: :delete, data: { turbo_confirm: "本当に退会しますか？" }, class: "btn btn-danger" %>
          <% end %>
        </div>
      <% end %>
        <div class="text-center mb-2">
          <%= link_to "Back", user_path, class: "font-weight-bold" %>
        </div>
  </div>
</div>