<!DOCTYPE html>
<html>
  <head>
    <title>Parknote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/e71241d1d0.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <%= render 'layouts/nav_bar' %>
        </div>
      </nav>
      
      <% unless params[:controller].match(/home|registration|session/).present? %>
        <nav class="navber-light bg-light">
          <div class="container">
            <div class= "d-flex justify-content-end mb-2">
              <%= render "public/searches/form" %>
            </div>
          </div>
        </nav>
      <% end %>
    </header>
    <div class="container pt-5">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
  </body>
</html>
