<!DOCTYPE html>
<html>
  <head>
    <title>Parknote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/e71241d1d0.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
     <nav class="navber navbar-expand-lg navber-light bg-light">
       <div class="container">
     <% if user_signed_in? %>
      <ul class="navbar-nav">
       <li class="nav-item">
         <%= link_to "公園登録", new_park_path, class: "nav-link" %>
       </li>
       <li class="nav-item">
         <%= link_to "公園一覧", parks_path, class: "nav-link" %>
       </li>
       <li class="nav-item">
       <%= link_to "投稿一覧", posts_path, class: "nav-link" %>
     </li>
     <li class="nav-item">
     <%= link_to "マイページ", user_path(current_user.id), class: "nav-link" %>
   </li>
       <li class="nav-item">
         <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
      </ul>
    <% else %>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "アバウト", about_path, class: "nav-link" %>
      </li>
      </ul>
    <% end %>
      </div>
    </nav>
  </header>
    <div class="container pt-5">
      <%= notice %>
      <%= alert %>
      <%= yield %>
    </div>
  </body>
</html>
